.texto-azul-aplicativo {
    display: flex;
    justify-content: center;
    color: #0B75C7;
}

.container-aplicativo h1 {
    display: flex;
    justify-content: center;
}

.img-aplicativo {
    display: flex;
    justify-content: center;
}

.textos-aplicativo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 440px;
    height: 575px;
}