.container-comunidade {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 400px;
}

.container-comunidade-bloco1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-azul-comunidade {
    position: relative;
    right: 120px;
    margin-bottom: 20px;
    color: #0B75C7;
}

.container-img-comunidade {
    display: flex;
    justify-content: center;
    transition: 1s;
}

.container-img-comunidade:hover {
    transform: scale(90%);
    transition: 1s;
}

.container-comunidade ul {
    list-style: none;
}

.container-comunidade-bloco2 ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-comunidade-bloco2 p {
    position: relative;
    left: 42px;
}

.raio {
    position: relative;
    top: 10px;
    right: 20px;
}

.porco {
    position: relative;
    top: 10px;
    right: 20px;
}

.casa {
    position: relative;
    top: 10px;
    right: 20px;
}

.saiba-mais {
    width: 220px;
    font-size: 22px;
    position: relative;
    left: 160px;
    text-decoration: none;
    color: #ffff;
    background-color: #2D38FF;
    border-radius: 40px;
    padding: 15px;
    margin-bottom: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.saiba-mais:hover {
    background-color: #000000;
    transition: 0.5s;
    transform: scale(110%);
}

