* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    box-sizing: border-box;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 200px;
}

.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: .6s;
}

.nav-itens>li>:hover {
    color: #2D38FF;
    transition: .6s;
}

.login {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #ffff;
    background-color: #2D38FF;
    cursor: pointer;
    transition: 1s ;
}

.login:hover {
    background-color:#00010c;
    transition: 1s;
    transform: scale(110%);
}




/*TEXTO EM AZUL EM CIMA DOS CONTAINERS*/
.texto-azul {
    color: #0B75C7;
}


