* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 200px;
}

.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.login {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #ffff;
    background-color: #2D38FF;
    cursor: pointer;
    transition: 1s ;
}

.login:hover {
    background-color:#00010c;
    transition: 1s;
}

/*CONTAINER GERAL*/
.container {
    margin: 20px;
}

/*CONTAINER-TOP 1*/
.container-top{
    display: flex;
    justify-content: center;
    gap:150px;
}

/*MARGIN BOTTOM DO H1 PARA O TEXTO*/
.container-top h1{
    margin-bottom: 20px;
}


.card-box-container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.card-box {
    width: 349px;
    height: 337px;
    display: inline-block;
    margin: 40px;
    border-radius: 50px;
    background: #FDCD60;
    box-shadow:  6px 6px 12px #e4b956,-6px -6px 12px #ffe26a;
}

.card-box-texto {
    padding: 25px;
}

.card-box-texto h1 {
    font-weight: 500;
}

/*CONTAINER-TOP 2*/
.container-top-2{
    display: flex;
    justify-content: center;
    gap:150px;
    margin-left: 125px;
    margin-bottom: 250px;
}

/*MARGIN BOTTOM DO H1 PARA O TEXTO*/
.container-top-2 h1{
    margin-bottom: 20px;
}

/*MARGIN BOTTOM DO H1 PARA O TEXTO*/
.container-impactos h1{
    margin-bottom: 20px;
}

/*MARGIN BOTTOM DO H1 PARA O TEXTO*/
.container-impactos-2 h1{
    margin-bottom: 20px;
}

.container-impactos {
    display: inline-block;
    margin-left: 550px;

}

.container-impactos-2 {
    display: inline-block;
    margin-left: 850px;
}

/*TEXTO EM AZUL EM CIMA DOS CONTAINERS*/
.texto-azul {
    color: #0B75C7;
}


