* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 200px;
}

.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.login {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #ffff;
    background-color: #2D38FF;
    cursor: pointer;
    transition: 1s ;
}

.login:hover {
    background-color:#00010c;
    transition: 1s;
}

.container {
    margin: 20px;
}


.container-top{
    display: flex;
    justify-content: space-between;
    gap:150px;
}

.container-top h1{
    margin-bottom: 20px;
}

.mude-energia-solar {
    color: #0B75C7;
}

.card-box-container {
    display: flex;
    justify-content: center;
}

.card-box {
    width: 349px;
    height: 337px;
    display: inline-block;
    margin: 40px;
    border-radius: 50px;
    background: #FDCD60;
    box-shadow:  5px 5px 0px #facb5f,-5px -5px 0px #ffcf61;
}

.card-box-texto {
    padding: 25px;
}

.card-box-texto h1 {
    font-weight: 500;
}
